{
  "env": {
    "production": {
      "presets": ["es2015", "stage-0"],
      "plugins": [
        "transform-strict-mode",
        "syntax-async-functions",
        "syntax-async-generators",
        "syntax-function-sent",
        "syntax-flow",
        "transform-member-expression-literals",
        "transform-merge-sibling-variables",
        "transform-minify-booleans",
        "transform-property-literals",
        "transform-remove-console",
        "transform-remove-debugger",
        "transform-simplify-comparison-operators",
        "transform-undefined-to-void",
        "transform-node-env-inline",
        "conditional-compile",
        "source-map-support",
        "require-root-rewrite",
        "strict-equality",
        "implicit-return",
        "operator-overload",
        "transform-flow-strip-types",
        ["transform-async-to-module-method", {
          "module": "bluebird",
          "method": "coroutine"
        }],
      ]
    },
    "development": {
      "presets": ["es2015", "stage-0"],
      "plugins": [
        "transform-strict-mode",
        "syntax-async-functions",
        "syntax-async-generators",
        "syntax-function-sent",
        "syntax-flow",
        "transform-undefined-to-void",
        "conditional-compile",
        "require-root-rewrite",
        "strict-equality",
        "implicit-return",
        "operator-overload",
        "typecheck",
        "transform-flow-comments",
        ["transform-async-to-module-method", {
          "module": "bluebird",
          "method": "coroutine"
        }],
      ]
    }
  }
}
